smart home with raspberry pi/raspberry_Dashboard.json
[{"id":"70f7e65b.d84ef8","type":"tab","label":"esp32","disabled":false,"info":""},{"id":"4cded7c7.490bd8","type":"tab","label":"ATmega","disabled":false,"info":""},{"id":"2d2eee51.b37f72","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"bd7fa4a0.73de68","type":"ui_base","z":"","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#8f0505","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#41bdc3","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#cd3241","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#cd3241","value":"#cd3241","edited":true},"page-titlebar-backgroundColor":{"value":"#cd3241","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#dc707a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#cd3241","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Home by FPL","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":44,"sy":44,"gx":5,"gy":5,"cx":5,"cy":5,"px":2,"py":2}}},{"id":"c3cb3224.18d1e","type":"ui_tab","z":"","name":"Monitoring","icon":"insert_chart","order":2},{"id":"b0bdedaf.f2d29","type":"ui_tab","z":"","name":"Control","icon":"games","order":3},{"id":"288d807a.b97e3","type":"mqtt-broker","z":"","name":"locahost","broker":"localhost","port":"1883","clientid":"node1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"806799fe.96efc8","type":"ui_group","z":"","name":"Temperature","tab":"c3cb3224.18d1e","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2952435.4c3e98","type":"ui_group","z":"","name":"Humidity","tab":"c3cb3224.18d1e","order":2,"disp":true,"width":"6","collapse":false},{"id":"f601e589.f08038","type":"mqtt-broker","z":"","name":"locahost","broker":"localhost","port":"1883","clientid":"note1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc218531.8eac68","type":"ui_group","z":"","name":"JVC","tab":"b0bdedaf.f2d29","order":4,"disp":true,"width":6,"collapse":false},{"id":"b788053b.995938","type":"ui_group","z":"","name":"Chart","tab":"c3cb3224.18d1e","order":4,"disp":true,"width":12,"collapse":true},{"id":"8e71dfcc.22629","type":"ui_group","z":"","name":"AV","tab":"b0bdedaf.f2d29","order":2,"disp":true,"width":4,"collapse":false},{"id":"6f49ecad.f10b14","type":"ui_group","z":"","name":"Channel","tab":"b0bdedaf.f2d29","order":3,"disp":true,"width":"4","collapse":false},{"id":"a2380686.5e52b8","type":"ui_group","z":"","name":"LED","tab":"b0bdedaf.f2d29","order":1,"disp":true,"width":6,"collapse":true},{"id":"ea8bce4f.a63a9","type":"sqlitedb","z":"","db":"/home/pi/dbs/iot3.db","mode":"RWC"},{"id":"c118688a.0f3a18","type":"ui_group","z":"","name":"Panasonic","tab":"b0bdedaf.f2d29","order":5,"disp":true,"width":6,"collapse":false},{"id":"fcae7bae.7ee2a8","type":"ui_group","z":"","name":"gaz","tab":"c3cb3224.18d1e","order":3,"disp":true,"width":6,"collapse":false},{"id":"db8c3032.34e91","type":"ui_group","z":"","name":"remote code","tab":"b0bdedaf.f2d29","order":6,"disp":true,"width":"8","collapse":true},{"id":"b3a8f4d2.e2e348","type":"ui_spacer","name":"spacer","group":"dc218531.8eac68","order":21,"width":2,"height":1},{"id":"6626edf6.347464","type":"ui_spacer","name":"spacer","group":"dc218531.8eac68","order":22,"width":2,"height":1},{"id":"b53f280a.7e8b28","type":"ui_group","z":"","name":"Room 2","tab":"7b8c4ca1.fe79c4","order":4,"disp":true,"width":"6","collapse":false},{"id":"7d0c1ef1.cc02e","type":"ui_group","z":"","name":"Sysinfo","tab":"7b8c4ca1.fe79c4","order":1,"disp":true,"width":"6"},{"id":"6c4e50bb.ccb4a","type":"ui_group","z":"","name":"Memory","tab":"7b8c4ca1.fe79c4","order":2,"disp":true,"width":"6"},{"id":"7b8c4ca1.fe79c4","type":"ui_tab","z":"","name":"Good afternoon, FPL (your feeds today )","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"edfc044.18173f8","type":"mqtt in","z":"70f7e65b.d84ef8","name":"Room1 Weather","topic":"r1/weather","qos":"0","datatype":"auto","broker":"288d807a.b97e3","x":80,"y":80,"wires":[["7c427a05.588394"]]},{"id":"7c427a05.588394","type":"json","z":"70f7e65b.d84ef8","name":"Format Weather","property":"payload","action":"obj","pretty":true,"x":120,"y":160,"wires":[["d9839156.62a0f","5d9f1bf1.5fa5c4","171d0e26.457062","588c53a7.4f921c","81c1411f.d8ad7","c4d162d7.5ff5f","30d6ab54.900eb4","9c18ae4b.86035"]]},{"id":"d9839156.62a0f","type":"ui_gauge","z":"70f7e65b.d84ef8","name":"Temperature","group":"806799fe.96efc8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{msg.payload.temperature}}","min":"10","max":"50","colors":["#005aff","#57ee7a","#ca3838"],"seg1":"","seg2":"","x":350,"y":180,"wires":[]},{"id":"5d9f1bf1.5fa5c4","type":"ui_gauge","z":"70f7e65b.d84ef8","name":"","group":"b2952435.4c3e98","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":220,"wires":[]},{"id":"8ef23416.4f0718","type":"mqtt in","z":"70f7e65b.d84ef8","name":"TV Button","topic":"r1/sony/button","qos":"0","broker":"f601e589.f08038","x":80,"y":380,"wires":[["f75c899f.eedd78"]]},{"id":"b75bb753.5f0898","type":"mqtt out","z":"70f7e65b.d84ef8","name":"TV Code","topic":"r1/sony/code","qos":"2","retain":"","broker":"f601e589.f08038","x":500,"y":720,"wires":[]},{"id":"f75c899f.eedd78","type":"function","z":"70f7e65b.d84ef8","name":"Parse Buttons","func":"if (msg.payload === \"power\") {\n    msg.payload = '{\"code1\": \"8c8\"}';\n} else if (msg.payload === \"vup\") {\n    msg.payload = '{\"code1\": \"90d\"}';\n} else if (msg.payload === \"vdn\") {\n    msg.payload = '{\"code1\": \"91d\"}';\n} else if (msg.payload === \"cup\") {\n    msg.payload = '{\"code1\": \"a0d\"}';\n} else if (msg.payload === \"cdn\") {\n    msg.payload = '{\"code1\": \"a1d\"}';\n} else if (msg.payload === \"1\") {\n    msg.payload = '{\"code1\": \"81d\"}';\n} else if (msg.payload === \"2\") {\n    msg.payload = '{\"code1\": \"82d\"}';\n} else if (msg.payload === \"3\") {\n    msg.payload = '{\"code1\": \"83d\"}';\n} else if (msg.payload === \"4\") {\n    msg.payload = '{\"code1\": \"84d\"}';\n} else if (msg.payload === \"5\") {\n    msg.payload = '{\"code1\": \"85d\"}';\n} else if (msg.payload === \"6\") {\n    msg.payload = '{\"code1\": \"86d\"}';\n} else if (msg.payload === \"7\") {\n    msg.payload = '{\"code1\": \"87d\"}';\n} else if (msg.payload === \"8\") {\n    msg.payload = '{\"code1\": \"88d\"}';\n} else if (msg.payload === \"9\") {\n    msg.payload = '{\"code1\":\"89d\"}';\n} else if (msg.payload === \"0\") {\n    msg.payload = '{\"code1\": \"80d\"}';\n} else if (msg.payload === \"mute\") {\n    msg.payload = '{\"code1\": \"bad\"}';\n} else if (msg.payload === \"__\") {\n    msg.payload = '{\"code1\": \"0dd\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":620,"wires":[["b75bb753.5f0898","cefba0cc.5bfab"]]},{"id":"60811c41.ab8444","type":"ui_button","z":"70f7e65b.d84ef8","name":"Power","group":"dc218531.8eac68","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"power","payloadType":"str","topic":"","x":70,"y":440,"wires":[["f75c899f.eedd78"]]},{"id":"9a2b681c.5340f8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Mute","group":"dc218531.8eac68","order":3,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"volume_off","payload":"mute","payloadType":"str","topic":"/r1/tv/code","x":70,"y":480,"wires":[["f75c899f.eedd78"]]},{"id":"82719af2.34b618","type":"ui_button","z":"70f7e65b.d84ef8","name":"Channel Up","group":"dc218531.8eac68","order":4,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"keyboard_arrow_up","payload":"cup","payloadType":"str","topic":"","x":90,"y":520,"wires":[["f75c899f.eedd78"]]},{"id":"c63ed1bd.021fe","type":"ui_button","z":"70f7e65b.d84ef8","name":"Volume Up","group":"dc218531.8eac68","order":6,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"volume_up","payload":"vup","payloadType":"str","topic":"","x":90,"y":560,"wires":[["f75c899f.eedd78"]]},{"id":"db79593e.90e768","type":"ui_button","z":"70f7e65b.d84ef8","name":"Channel Down","group":"dc218531.8eac68","order":7,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"keyboard_arrow_down","payload":"cdn","payloadType":"str","topic":"","x":100,"y":600,"wires":[["f75c899f.eedd78"]]},{"id":"ed7d37e0.87e6a8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Volume Down","group":"dc218531.8eac68","order":9,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"volume_down","payload":"vdn","payloadType":"str","topic":"","x":100,"y":640,"wires":[["f75c899f.eedd78"]]},{"id":"9d58eb57.1be478","type":"ui_button","z":"70f7e65b.d84ef8","name":"1","group":"dc218531.8eac68","order":10,"width":2,"height":2,"passthru":false,"label":"1","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":70,"y":680,"wires":[["f75c899f.eedd78"]]},{"id":"4afa3676.74aba8","type":"ui_button","z":"70f7e65b.d84ef8","name":"2","group":"dc218531.8eac68","order":11,"width":2,"height":2,"passthru":false,"label":"2","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":70,"y":720,"wires":[["f75c899f.eedd78"]]},{"id":"ff6d4451.a07818","type":"ui_button","z":"70f7e65b.d84ef8","name":"3","group":"dc218531.8eac68","order":12,"width":2,"height":2,"passthru":false,"label":"3","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":70,"y":760,"wires":[["f75c899f.eedd78"]]},{"id":"b683d406.7375c8","type":"ui_button","z":"70f7e65b.d84ef8","name":"4","group":"dc218531.8eac68","order":13,"width":2,"height":2,"passthru":false,"label":"4","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":70,"y":800,"wires":[["f75c899f.eedd78"]]},{"id":"d522a339.c30cc","type":"ui_button","z":"70f7e65b.d84ef8","name":"5","group":"dc218531.8eac68","order":14,"width":2,"height":2,"passthru":false,"label":"5","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":70,"y":840,"wires":[["f75c899f.eedd78"]]},{"id":"c71e8f49.b8749","type":"ui_button","z":"70f7e65b.d84ef8","name":"6","group":"dc218531.8eac68","order":15,"width":2,"height":2,"passthru":false,"label":"6","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"","x":70,"y":880,"wires":[["f75c899f.eedd78"]]},{"id":"bc9c3d5d.8393c","type":"ui_button","z":"70f7e65b.d84ef8","name":"7","group":"dc218531.8eac68","order":16,"width":2,"height":2,"passthru":false,"label":"7","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":70,"y":920,"wires":[["f75c899f.eedd78"]]},{"id":"d038a757.a418a8","type":"ui_button","z":"70f7e65b.d84ef8","name":"8","group":"dc218531.8eac68","order":17,"width":2,"height":2,"passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"str","topic":"","x":70,"y":960,"wires":[["f75c899f.eedd78"]]},{"id":"f5c6d332.cf37e","type":"ui_button","z":"70f7e65b.d84ef8","name":"9","group":"dc218531.8eac68","order":18,"width":2,"height":2,"passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9","payloadType":"str","topic":"","x":70,"y":1000,"wires":[["f75c899f.eedd78"]]},{"id":"42a3c2cf.78a50c","type":"ui_button","z":"70f7e65b.d84ef8","name":"__","group":"dc218531.8eac68","order":19,"width":2,"height":2,"passthru":false,"label":"__","color":"","bgcolor":"","icon":"","payload":"__","payloadType":"str","topic":"","x":70,"y":1040,"wires":[["f75c899f.eedd78"]]},{"id":"e10a3eac.fddfa","type":"ui_button","z":"70f7e65b.d84ef8","name":"0","group":"dc218531.8eac68","order":20,"width":2,"height":2,"passthru":false,"label":"0","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":70,"y":1080,"wires":[["f75c899f.eedd78"]]},{"id":"1dd3597d.d81687","type":"mqtt in","z":"70f7e65b.d84ef8","name":"","topic":"r1/remote","qos":"0","datatype":"auto","broker":"f601e589.f08038","x":620,"y":800,"wires":[["923872cc.9804","659b075f.b4acf8"]]},{"id":"cccadc60.5ac0d","type":"function","z":"70f7e65b.d84ef8","name":"Format SQL Query","func":"var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\nvar localISOTime = (new Date(Date.now() + Math.abs(tzoffset))).toISOString();\nvar localISOTimeSliced = localISOTime.slice(0, -1);\nvar nonLocalTime=new Date(Date.now()).toISOString().slice(0, -1);\n\nvar mysqlTime = localISOTime.slice(0, 19).replace('T', ' ');\n\nvar m = {\n topic : \"INSERT INTO 'temperature_record' ('device_name','rec_num','temperature','humidity','methan_gaz', 'date_time') VALUES ('esp32',NULL,'\" + msg.payload.temperature + \"', '\" + msg.payload.humidity + \"', '\" + msg.payload.gaz + \"','\"+mysqlTime+\"');\"     \n };\nreturn m;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["4947cdac.f8ff74"]]},{"id":"30a86fc4.325c5","type":"ui_chart","z":"70f7e65b.d84ef8","name":"","group":"b788053b.995938","order":3,"width":12,"height":7,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"0","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#d20000","#2900ea","#15ff0f","#ee8088","#98df8a","#d62728","#ff9896","#822fd0","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":240,"wires":[[]]},{"id":"d39b6060.1fc02","type":"ui_date_picker","z":"70f7e65b.d84ef8","name":"","label":"date","group":"b788053b.995938","order":1,"width":10,"height":1,"passthru":false,"topic":"","x":530,"y":220,"wires":[["17dc71ea.c6433e"]]},{"id":"17dc71ea.c6433e","type":"function","z":"70f7e65b.d84ef8","name":"Format Date","func":"var formatDate = function formatDate(date) {            // function for reusability\n        var d = date.getDate().toString(),           // getUTCDate() returns 1 - 31\n            m = (date.getMonth() + 1).toString(),    // getUTCMonth() returns 0 - 11\n            y = date.getFullYear().toString(),       // getUTCFullYear() returns a 4-digit year\n            formatted = '';\n        if (d.length === 1) {                           // pad to two digits if needed\n            d = '0' + d;\n        }\n        if (m.length === 1) {                           // pad to two digits if needed\n            m = '0' + m;\n        }\n        formatted = y + '-' + m + '-' + d;              // concatenate for output\n        return formatted;\n    },\n    x = msg.payload,                                  // sample time in ms since epoch\n    d = new Date(x),                                    // convert to date object\n    f = formatDate(d);\n    d.setDate(d.getDate() + 1);\n    var t = formatDate(d);\n    node.log(\"Date\", d);\n    var query = \"SELECT * from 'temperature_record' WHERE date_time>DATE('\"+f+\"', 'localtime') AND date_time < DATE('\"+t+\"', 'localtime');\"\n    flow.set('query', query);\nvar m = {\n topic:  query   \n };\nreturn m;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["bd6adb5a.470628"]]},{"id":"126f3bad.3e2134","type":"function","z":"70f7e65b.d84ef8","name":"Format Chart","func":"var arr = [{\n    series: [\"Temperature\", \"Humidity\",\"gaz\", \"Temperature Outside\", \"Humidity Outside\"],\n    labels: [\"Temperature\", \"Humidity\",\"gaz\", \"Temperature Outside\", \"Humidity Outside\"],\n    data: [[],[], [], [], []]\n}];\n\nmsg.payload.forEach(function(row) {\n  var date = new Date(row.date_time);\n  arr[0].data[0].push({x: date.getTime(), y: row.temperature || ''});\n  arr[0].data[1].push({x: date.getTime(), y: row.humidity || ''});\n  arr[0].data[2].push({x: date.getTime(), y: row.methan_gaz || ''});\n  row.temperature_outside || row.temperature_outside === 0 ? arr[0].data[3].push({x: date.getTime(), y: row.temperature_outside || ''}) : null;\n  row.humidity_outside ? arr[0].data[4].push({x: date.getTime(), y: row.humidity_outside || ''}) : null;\n});\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":260,"wires":[["30a86fc4.325c5"]]},{"id":"171d0e26.457062","type":"delay","z":"70f7e65b.d84ef8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"88","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":140,"wires":[["cccadc60.5ac0d","24fbdfff.e31e2"]]},{"id":"87385505.0d8c08","type":"ui_button","z":"70f7e65b.d84ef8","name":"","group":"b788053b.995938","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"true","payloadType":"bool","topic":"","x":330,"y":300,"wires":[["24fbdfff.e31e2"]]},{"id":"5e85f99d.e34f18","type":"ui_template","z":"70f7e65b.d84ef8","group":"dc218531.8eac68","name":"","order":2,"width":2,"height":2,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":340,"y":460,"wires":[[]]},{"id":"25ee23f9.81d92c","type":"ui_template","z":"70f7e65b.d84ef8","group":"dc218531.8eac68","name":"","order":5,"width":2,"height":2,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":340,"y":500,"wires":[[]]},{"id":"16669cdb.048f63","type":"ui_template","z":"70f7e65b.d84ef8","group":"dc218531.8eac68","name":"","order":8,"width":2,"height":2,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":340,"y":540,"wires":[[]]},{"id":"b4cd950e.d59a38","type":"comment","z":"70f7e65b.d84ef8","name":"SONY TV","info":"","x":80,"y":340,"wires":[]},{"id":"52f4c9e1.6c2dc8","type":"mqtt in","z":"70f7e65b.d84ef8","name":"AV Button","topic":"r1/nec/button","qos":"0","broker":"f601e589.f08038","x":380,"y":920,"wires":[["186b2dfd.8b9902"]]},{"id":"186b2dfd.8b9902","type":"function","z":"70f7e65b.d84ef8","name":"Parse Buttons","func":"if (msg.payload === \"power\") {\n    msg.payload = '{\"code1\": \"a55a38c7\"}';\n} else if (msg.payload === \"vup\") {\n    msg.payload = '{\"code1\": \"a55a50af\"}';\n} else if (msg.payload === \"vdn\") {\n    msg.payload = '{\"code1\": \"a55ad02f\"}';\n} else if (msg.payload === \"input\") {\n    msg.payload = '{\"code1\": \"a55aaa55\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1020,"wires":[["288862c5.06bebe"]]},{"id":"288862c5.06bebe","type":"mqtt out","z":"70f7e65b.d84ef8","name":"AV Code","topic":"r1/nec/code","qos":"0","retain":"","broker":"f601e589.f08038","x":660,"y":920,"wires":[]},{"id":"18c56a51.33b4b6","type":"ui_button","z":"70f7e65b.d84ef8","name":"Power","group":"8e71dfcc.22629","order":1,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"power","payloadType":"str","topic":"","x":370,"y":980,"wires":[["186b2dfd.8b9902"]]},{"id":"15230e4b.c71ae2","type":"ui_button","z":"70f7e65b.d84ef8","name":"Volume Up","group":"8e71dfcc.22629","order":3,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"volume_up","payload":"vup","payloadType":"str","topic":"","x":390,"y":1020,"wires":[["186b2dfd.8b9902"]]},{"id":"f4a55bf2.91ccd8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Volume Down","group":"8e71dfcc.22629","order":4,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"volume_down","payload":"vdn","payloadType":"str","topic":"","x":400,"y":1060,"wires":[["186b2dfd.8b9902"]]},{"id":"c19d3840.749cc8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Input","group":"8e71dfcc.22629","order":2,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"input","payload":"input","payloadType":"str","topic":"","x":370,"y":1100,"wires":[["186b2dfd.8b9902"]]},{"id":"ef23fdb4.47e55","type":"comment","z":"70f7e65b.d84ef8","name":"Pioneer AV","info":"","x":380,"y":880,"wires":[]},{"id":"7ff8d0a3.0c0b9","type":"ui_button","z":"70f7e65b.d84ef8","name":"","group":"6f49ecad.f10b14","order":1,"width":0,"height":0,"passthru":false,"label":"media","tooltip":"","color":"","bgcolor":"","icon":"video_library","payload":"{\"code1\": \"b90\",\"code2\": \"10\",\"code3\":\"e10\"}","payloadType":"str","topic":"","x":70,"y":1140,"wires":[["fa0120d5.ba8a4"]]},{"id":"fa0120d5.ba8a4","type":"mqtt out","z":"70f7e65b.d84ef8","name":"TV Code","topic":"r1/sony/code","qos":"0","retain":"","broker":"f601e589.f08038","x":260,"y":1140,"wires":[]},{"id":"bf967c75.2007","type":"ui_button","z":"70f7e65b.d84ef8","name":"","group":"6f49ecad.f10b14","order":2,"width":0,"height":0,"passthru":false,"label":"youtube","tooltip":"","color":"","bgcolor":"","icon":"subscriptions","payload":"{\"code1\": \"8bbf\"}","payloadType":"str","topic":"","x":80,"y":1180,"wires":[["fa0120d5.ba8a4"]]},{"id":"be09abf7.7fa1b8","type":"mqtt in","z":"70f7e65b.d84ef8","name":"LED Strip Button","topic":"r1/nec/button","qos":"0","broker":"f601e589.f08038","x":2080,"y":60,"wires":[["c78d618c.5de07"]]},{"id":"c78d618c.5de07","type":"function","z":"70f7e65b.d84ef8","name":"Parse Buttons","func":"if (msg.payload === \"on\") {\n    msg.payload = '{\"code1\": \"FFE01F\"}';\n} else if (msg.payload === \"off\") {\n    msg.payload = '{\"code1\": \"FF609F\"}';\n} else if (msg.payload === \"up\") {\n    msg.payload = '{\"code1\": \"FFA05F\"}';\n} else if (msg.payload === \"dn\") {\n    msg.payload = '{\"code1\": \"FF20DF\"}';\n} else if (msg.payload === \"red\") {\n    msg.payload = '{\"code1\": \"FF906F\"}';\n} else if (msg.payload === \"green\") {\n    msg.payload = '{\"code1\": \"FF10EF\"}';\n} else if (msg.payload === \"blue\") {\n    msg.payload = '{\"code1\": \"FF50AF\"}';\n} else if (msg.payload === \"white\") {\n    msg.payload = '{\"code1\": \"FFD02F\"}';\n} else if (msg.payload === \"orange\") {\n    msg.payload = '{\"code1\": \"FFB04F\"}';\n} else if (msg.payload === \"turquoise\") {\n    msg.payload = '{\"code1\": \"FF30CF\"}';\n} else if (msg.payload === \"navy\") {\n    msg.payload = '{\"code1\": \"FF708F\"}';\n} else if (msg.payload === \"brown\") {\n    msg.payload = '{\"code1\": \"FFA857\"}';\n} else if (msg.payload === \"teal\") {\n    msg.payload = '{\"code1\": \"FF28D7\"}';\n} else if (msg.payload === \"purpleDark\") {\n    msg.payload = '{\"code1\": \"FF6897\"}';\n} else if (msg.payload === \"orangeLight\") {\n    msg.payload = '{\"code1\": \"FF9867\"}';\n} else if (msg.payload === \"blueLight\") {\n    msg.payload = '{\"code1\": \"FF18E7\"}';\n} else if (msg.payload === \"pinkDark\") {\n    msg.payload = '{\"code1\": \"FF58A7\"}';\n} else if (msg.payload === \"yellow\") {\n    msg.payload = '{\"code1\": \"FF8877\"}';\n} else if (msg.payload === \"blueBaby\") {\n    msg.payload = '{\"code1\": \"FF08F7\"}';\n} else if (msg.payload === \"pink\") {\n    msg.payload = '{\"code1\": \"FF48B7\"}';\n} else if (msg.payload === \"flash\") {\n    msg.payload = '{\"code1\": \"FFF00F\"}';\n} else if (msg.payload === \"strobe\") {\n    msg.payload = '{\"code1\": \"FFE817\"}';\n} else if (msg.payload === \"fade\") {\n    msg.payload = '{\"code1\": \"FFD827\"}';\n} else if (msg.payload === \"smooth\") {\n    msg.payload = '{\"code1\": \"FFC837\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":540,"wires":[["9bccdbc4.f48db8"]]},{"id":"9bccdbc4.f48db8","type":"mqtt out","z":"70f7e65b.d84ef8","name":"LED Strip Code","topic":"r1/nec/code","qos":"0","retain":"","broker":"f601e589.f08038","x":2400,"y":320,"wires":[]},{"id":"c7154736.e291a8","type":"ui_button","z":"70f7e65b.d84ef8","name":"On","group":"a2380686.5e52b8","order":5,"width":1,"height":1,"passthru":false,"label":"On","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":2050,"y":120,"wires":[["c78d618c.5de07"]]},{"id":"86840fb5.34f62","type":"comment","z":"70f7e65b.d84ef8","name":"LED Strip","info":"","x":2060,"y":20,"wires":[]},{"id":"de79dd3f.f2f0c","type":"ui_button","z":"70f7e65b.d84ef8","name":"Off","group":"a2380686.5e52b8","order":4,"width":1,"height":1,"passthru":false,"label":"Off","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":2050,"y":160,"wires":[["c78d618c.5de07"]]},{"id":"8cc1bda8.ebc51","type":"ui_button","z":"70f7e65b.d84ef8","name":"Intenisty Up","group":"a2380686.5e52b8","order":2,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"","icon":"keyboard_arrow_up","payload":"up","payloadType":"str","topic":"","x":2070,"y":200,"wires":[["c78d618c.5de07"]]},{"id":"749d324c.d65a0c","type":"ui_button","z":"70f7e65b.d84ef8","name":"Intensity Down","group":"a2380686.5e52b8","order":3,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"","icon":"keyboard_arrow_down","payload":"dn","payloadType":"str","topic":"","x":2080,"y":240,"wires":[["c78d618c.5de07"]]},{"id":"bdf6d88b.965fd8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Red","group":"a2380686.5e52b8","order":8,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#ff0000","icon":"","payload":"red","payloadType":"str","topic":"","x":2048.01953125,"y":281.00390625,"wires":[["c78d618c.5de07"]]},{"id":"a7ec52dd.67ccb","type":"ui_button","z":"70f7e65b.d84ef8","name":"Green","group":"a2380686.5e52b8","order":9,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#00ff00","icon":"","payload":"green","payloadType":"str","topic":"","x":2050,"y":320,"wires":[["c78d618c.5de07"]]},{"id":"3c9a264d.c4a84a","type":"ui_button","z":"70f7e65b.d84ef8","name":"Blue","group":"a2380686.5e52b8","order":10,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#0000ff","icon":"","payload":"blue","payloadType":"str","topic":"","x":2050,"y":360,"wires":[["c78d618c.5de07"]]},{"id":"34848960.b0dc66","type":"ui_button","z":"70f7e65b.d84ef8","name":"Orange","group":"a2380686.5e52b8","order":12,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#ffa500","icon":"","payload":"orange","payloadType":"str","topic":"","x":2060,"y":440,"wires":[["c78d618c.5de07"]]},{"id":"a5a06f5b.d7e82","type":"ui_button","z":"70f7e65b.d84ef8","name":"Turquoise","group":"a2380686.5e52b8","order":7,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#7fffd4","icon":"","payload":"turquoise","payloadType":"str","topic":"","x":2060,"y":480,"wires":[["c78d618c.5de07"]]},{"id":"d7ab788d.4800e8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Navy","group":"a2380686.5e52b8","order":14,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#003366","icon":"","payload":"navy","payloadType":"str","topic":"","x":2050,"y":520,"wires":[["c78d618c.5de07"]]},{"id":"768eaa09.947b24","type":"ui_button","z":"70f7e65b.d84ef8","name":"Brown","group":"a2380686.5e52b8","order":16,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#8B0000","icon":"","payload":"brown","payloadType":"str","topic":"","x":2050,"y":560,"wires":[["c78d618c.5de07"]]},{"id":"419074b.74f178c","type":"ui_button","z":"70f7e65b.d84ef8","name":"Teal","group":"a2380686.5e52b8","order":17,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#20b2aa","icon":"","payload":"teal","payloadType":"str","topic":"","x":2050,"y":600,"wires":[["c78d618c.5de07"]]},{"id":"e22a3721.991c18","type":"ui_button","z":"70f7e65b.d84ef8","name":"Purple Dark","group":"a2380686.5e52b8","order":18,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#794044","icon":"","payload":"purpleDark","payloadType":"str","topic":"","x":2070,"y":640,"wires":[["c78d618c.5de07"]]},{"id":"40f9f14e.546a1","type":"ui_button","z":"70f7e65b.d84ef8","name":"Orange Light","group":"a2380686.5e52b8","order":20,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#daa520","icon":"","payload":"orangeLight","payloadType":"str","topic":"","x":2070,"y":680,"wires":[["c78d618c.5de07"]]},{"id":"8413d56.1d13428","type":"ui_button","z":"70f7e65b.d84ef8","name":"Blue Light","group":"a2380686.5e52b8","order":21,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#00ced1","icon":"","payload":"blueLight","payloadType":"str","topic":"","x":2060,"y":720,"wires":[["c78d618c.5de07"]]},{"id":"47ca461f.9d9268","type":"ui_button","z":"70f7e65b.d84ef8","name":"Pink","group":"a2380686.5e52b8","order":22,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#ffb6c1","icon":"","payload":"pink","payloadType":"str","topic":"","x":2050,"y":760,"wires":[["c78d618c.5de07"]]},{"id":"9e3677a3.dc1ff8","type":"ui_button","z":"70f7e65b.d84ef8","name":"Yellow","group":"a2380686.5e52b8","order":24,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#ffff00","icon":"","payload":"yellow","payloadType":"str","topic":"","x":2050,"y":820,"wires":[["c78d618c.5de07"]]},{"id":"243a8ffc.696aa","type":"ui_button","z":"70f7e65b.d84ef8","name":"Blue Baby","group":"a2380686.5e52b8","order":19,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#0099cc","icon":"","payload":"blueBaby","payloadType":"str","topic":"","x":2070,"y":860,"wires":[["c78d618c.5de07"]]},{"id":"7a55ad52.e2c704","type":"ui_button","z":"70f7e65b.d84ef8","name":"Pink Light","group":"a2380686.5e52b8","order":6,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#c39797","icon":"","payload":"pinkLight","payloadType":"str","topic":"","x":2060,"y":900,"wires":[["c78d618c.5de07"]]},{"id":"5c00893b.9127a8","type":"ui_button","z":"70f7e65b.d84ef8","name":"White","group":"a2380686.5e52b8","order":11,"width":1,"height":1,"passthru":false,"label":"","color":"","bgcolor":"#ffffff","icon":"","payload":"white","payloadType":"str","topic":"","x":2050,"y":400,"wires":[["c78d618c.5de07"]]},{"id":"9a5fe978.7b5c68","type":"ui_button","z":"70f7e65b.d84ef8","name":"Flash","group":"a2380686.5e52b8","order":15,"width":1,"height":1,"passthru":false,"label":"Flash","color":"","bgcolor":"","icon":"","payload":"flash","payloadType":"str","topic":"","x":2050,"y":940,"wires":[["c78d618c.5de07"]]},{"id":"903566ad.449658","type":"ui_button","z":"70f7e65b.d84ef8","name":"Strobe","group":"a2380686.5e52b8","order":13,"width":1,"height":1,"passthru":false,"label":"Strobe","color":"","bgcolor":"","icon":"","payload":"strobe","payloadType":"str","topic":"","x":2050,"y":980,"wires":[["c78d618c.5de07"]]},{"id":"5648ecb8.ee8404","type":"ui_button","z":"70f7e65b.d84ef8","name":"Fade","group":"a2380686.5e52b8","order":23,"width":1,"height":1,"passthru":false,"label":"Fade","color":"","bgcolor":"","icon":"","payload":"fade","payloadType":"str","topic":"","x":2050,"y":1020,"wires":[["c78d618c.5de07"]]},{"id":"a1ad78cf.ff7668","type":"ui_button","z":"70f7e65b.d84ef8","name":"Smooth","group":"a2380686.5e52b8","order":1,"width":1,"height":1,"passthru":false,"label":"Smooth","color":"","bgcolor":"","icon":"","payload":"smooth","payloadType":"str","topic":"","x":2060,"y":1060,"wires":[["c78d618c.5de07"]]},{"id":"c4429c67.8aa4f","type":"ui_button","z":"70f7e65b.d84ef8","name":"","group":"6f49ecad.f10b14","order":3,"width":0,"height":0,"passthru":false,"label":"netflix","tooltip":"","color":"","bgcolor":"","icon":"movie","payload":"{\"code1\": \"8a7d\",\"code2\": \"810\",\"code3\":\"10\"}","payloadType":"str","topic":"","x":70,"y":1220,"wires":[["fa0120d5.ba8a4"]]},{"id":"4b2bbc5e.3da8a4","type":"ui_button","z":"70f7e65b.d84ef8","name":"","group":"6f49ecad.f10b14","order":4,"width":0,"height":0,"passthru":false,"label":"2M","tooltip":"","color":"","bgcolor":"","icon":"toys","payload":"{\"code1\": \"bbb\",\"code2\": \"b\",\"code3\":\"b\"}","payloadType":"str","topic":"","x":70,"y":1260,"wires":[["fa0120d5.ba8a4"]]},{"id":"efd9aec1.71b9","type":"mqtt out","z":"70f7e65b.d84ef8","name":"R2 Pub","topic":"r1/r2","qos":"","retain":"true","broker":"f601e589.f08038","x":1180,"y":640,"wires":[]},{"id":"d0a68a09.7c84e8","type":"mqtt out","z":"70f7e65b.d84ef8","name":"R3 Pub","topic":"r1/r3","qos":"","retain":"true","broker":"f601e589.f08038","x":1180,"y":720,"wires":[]},{"id":"bd6adb5a.470628","type":"sqlite","z":"70f7e65b.d84ef8","mydb":"ea8bce4f.a63a9","sqlquery":"msg.topic","sql":"","name":"SQLITE","x":820,"y":300,"wires":[["126f3bad.3e2134"]]},{"id":"4947cdac.f8ff74","type":"sqlite","z":"70f7e65b.d84ef8","mydb":"ea8bce4f.a63a9","sqlquery":"msg.topic","sql":"","name":"SQLITE","x":800,"y":40,"wires":[["8af8058f.a38648"]]},{"id":"923872cc.9804","type":"debug","z":"70f7e65b.d84ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":780,"wires":[]},{"id":"24fbdfff.e31e2","type":"function","z":"70f7e65b.d84ef8","name":"Get Flow Query","func":"var query = flow.get('query');\nvar m = {\n    topic: query\n};\nreturn m;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["bd6adb5a.470628"]]},{"id":"85794867.f00328","type":"mqtt in","z":"70f7e65b.d84ef8","name":"IP","topic":"home/br/nb/ip","qos":"2","datatype":"auto","broker":"f601e589.f08038","x":80,"y":240,"wires":[[]]},{"id":"f8e035d.09fa3c8","type":"mqtt in","z":"70f7e65b.d84ef8","name":"door","topic":"home/br/nb/deur","qos":"2","datatype":"auto","broker":"f601e589.f08038","x":70,"y":300,"wires":[[]]},{"id":"f3dde4f2.61f778","type":"ui_button","z":"70f7e65b.d84ef8","name":"Power","group":"c118688a.0f3a18","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"power","payloadType":"str","topic":"","x":1390,"y":600,"wires":[["4ab0656e.7d493c"]]},{"id":"4ab0656e.7d493c","type":"function","z":"70f7e65b.d84ef8","name":"Parse Buttons","func":"if (msg.payload === \"power\") {\n    msg.payload = '{\"code1\": \"100bcbd\"}';\n} else if (msg.payload === \"vup\") {\n    msg.payload = '{\"code1\": \"1000405\"}';\n} else if (msg.payload === \"vdn\") {\n    msg.payload = '{\"code1\": \"1008485\"}';\n} else if (msg.payload === \"cup\") {\n    msg.payload = '{\"code1\": \"1002C2D\"}';\n} else if (msg.payload === \"cdn\") {\n    msg.payload = '{\"code1\": \"100ACAD\"}';\n} else if (msg.payload === \"1\") {\n    msg.payload = '{\"code1\": \"10\"}';\n} else if (msg.payload === \"2\") {\n    msg.payload = '{\"code1\": \"810\"}';\n} else if (msg.payload === \"3\") {\n    msg.payload = '{\"code1\": \"410\"}';\n} else if (msg.payload === \"4\") {\n    msg.payload = '{\"code1\": \"C10\"}';\n} else if (msg.payload === \"5\") {\n    msg.payload = '{\"code1\": \"210\"}';\n} else if (msg.payload === \"6\") {\n    msg.payload = '{\"code1\": \"A10\"}';\n} else if (msg.payload === \"7\") {\n    msg.payload = '{\"code1\": \"610\"}';\n} else if (msg.payload === \"8\") {\n    msg.payload = '{\"code1\": \"E10\"}';\n} else if (msg.payload === \"9\") {\n    msg.payload = '{\"code1\": \"110\"}';\n} else if (msg.payload === \"0\") {\n    msg.payload = '{\"code1\": \"910\"}';\n} else if (msg.payload === \"mute\") {\n    msg.payload = '{\"code1\": \"1004C4D\"}';\n} else if (msg.payload === \"__\") {\n    msg.payload = '{\"code1\": \"b90\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":640,"wires":[["3bba0906.73ee66"]]},{"id":"3bba0906.73ee66","type":"mqtt out","z":"70f7e65b.d84ef8","name":"TV Code","topic":"r1/panasonic/code","qos":"0","retain":"","broker":"f601e589.f08038","x":1580,"y":520,"wires":[]},{"id":"917505c1.6d2d38","type":"ui_button","z":"70f7e65b.d84ef8","name":"Channel Up","group":"c118688a.0f3a18","order":3,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"keyboard_arrow_up","payload":"cup","payloadType":"str","topic":"","x":1410,"y":640,"wires":[["4ab0656e.7d493c"]]},{"id":"6f175d8c.40f0b4","type":"ui_button","z":"70f7e65b.d84ef8","name":"Volume Up","group":"c118688a.0f3a18","order":5,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"volume_up","payload":"vup","payloadType":"str","topic":"","x":1410,"y":680,"wires":[["4ab0656e.7d493c"]]},{"id":"322d8199.6d206e","type":"ui_button","z":"70f7e65b.d84ef8","name":"Channel Down","group":"c118688a.0f3a18","order":6,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"keyboard_arrow_down","payload":"cdn","payloadType":"str","topic":"","x":1420,"y":720,"wires":[["4ab0656e.7d493c"]]},{"id":"247a80f3.5c6a6","type":"ui_button","z":"70f7e65b.d84ef8","name":"Volume Down","group":"c118688a.0f3a18","order":2,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"volume_down","payload":"vdn","payloadType":"str","topic":"","x":1420,"y":760,"wires":[["4ab0656e.7d493c"]]},{"id":"69159cff.1c17c4","type":"ui_button","z":"70f7e65b.d84ef8","name":"Mute","group":"c118688a.0f3a18","order":4,"width":2,"height":2,"passthru":false,"label":"","color":"","bgcolor":"","icon":"volume_mute","payload":"mute","payloadType":"str","topic":"/r1/tv/code","x":1390,"y":800,"wires":[["4ab0656e.7d493c"]]},{"id":"8af8058f.a38648","type":"sqlite","z":"70f7e65b.d84ef8","mydb":"ea8bce4f.a63a9","sqlquery":"fixed","sql":"SELECT * FROM temperature_record ORDER BY rec_num DESC LIMIT 1;","name":"Find Newest Entry","x":890,"y":140,"wires":[["99b6e8f5.1c49b8"]]},{"id":"99b6e8f5.1c49b8","type":"function","z":"70f7e65b.d84ef8","name":"Set latest Entry","func":"flow.set('latestEntry', msg.payload);\nreturn msg.payload;","outputs":1,"noerr":0,"x":1060,"y":40,"wires":[["e63383b.4d5648"]]},{"id":"e63383b.4d5648","type":"http request","z":"70f7e65b.d84ef8","name":"openweathermap","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Larache,ma&APPID=b01a4b1f92b65b379842d0eb025476db&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":160,"wires":[["38756960.096f86","82c844ac.8ef5c8","ca42193c.4dd238"]]},{"id":"38756960.096f86","type":"function","z":"70f7e65b.d84ef8","name":"Format OpenWeatherMap Query","func":"var latestEntry = flow.get('latestEntry');\nvar response = msg.payload;\nnode.log(latestEntry.toString());\nnode.log(response.toString());\nvar m = {\n topic : \"UPDATE temperature_record SET temperature_outside='\"+response.main.temp+\"', humidity_outside='\"+response.main.humidity+\"' WHERE rec_num = \"+latestEntry[0][0].rec_num+\";\"\n};\nreturn m;","outputs":1,"noerr":0,"x":1460,"y":120,"wires":[["cba711fb.97102"]]},{"id":"cba711fb.97102","type":"sqlite","z":"70f7e65b.d84ef8","mydb":"ea8bce4f.a63a9","sqlquery":"msg.topic","sql":"","name":"SQLITE","x":1800,"y":480,"wires":[["24fbdfff.e31e2"]]},{"id":"5b18d552.3a8f7c","type":"ui_gauge","z":"70f7e65b.d84ef8","name":"Humidity Outside","group":"b2952435.4c3e98","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity Outside","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1850,"y":120,"wires":[]},{"id":"1039a101.fc221f","type":"ui_gauge","z":"70f7e65b.d84ef8","name":"Temperature Outside","group":"806799fe.96efc8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature Outside","label":"C","format":"{{msg.payload.temperature}}","min":"0","max":"50","colors":["#005aff","#57ee7a","#ca3838"],"seg1":"","seg2":"","x":1860,"y":40,"wires":[]},{"id":"d8936d27.8be65","type":"http request","z":"70f7e65b.d84ef8","name":"Yahoo","method":"GET","ret":"obj","paytoqs":false,"url":"http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D536981%20and%20u%3D%20'c'&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeysquery.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D536981%20and%20u%3D%20'c'&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":340,"wires":[["1b9bc5a7.473ffa","1cb11146.22856f"]]},{"id":"1b9bc5a7.473ffa","type":"function","z":"70f7e65b.d84ef8","name":"Format Query Yahoo","func":"var latestEntry = flow.get('latestEntry');\nvar response = msg.payload;\nvar m = {\n topic : \"UPDATE temperature_record SET temperature_outside='\"+response.query.results.channel.item.condition.temp+\"', humidity_outside='\"+response.query.results.channel.atmosphere.humidity+\"' WHERE rec_num = \"+latestEntry[0][0].rec_num+\";\"\n};\nreturn m;","outputs":1,"noerr":0,"x":1500,"y":240,"wires":[["cba711fb.97102"]]},{"id":"e8266056.752c4","type":"http request","z":"70f7e65b.d84ef8","name":"Dark Sky Https","method":"GET","ret":"obj","url":"https://api.darksky.net/forecast/YOURAPIKEY/46.10873,19.66449?units=auto","tls":"","x":1200,"y":420,"wires":[["3ce6919f.79b47e","97690812.88bc78"]]},{"id":"3ce6919f.79b47e","type":"function","z":"70f7e65b.d84ef8","name":"Format DarkSky Query","func":"var latestEntry = flow.get('latestEntry');\nvar response = msg.payload;\nnode.log(latestEntry.toString());\nnode.log(response.toString());\nvar m = {\n topic : \"UPDATE temperature_record SET temperature_outside='\"+response.currently.temperature+\"', humidity_outside='\"+response.currently.humidity*100+\"' WHERE rec_num = \"+latestEntry[0][0].rec_num+\";\"\n};\nreturn m;","outputs":1,"noerr":0,"x":1520,"y":380,"wires":[["cba711fb.97102"]]},{"id":"82c844ac.8ef5c8","type":"function","z":"70f7e65b.d84ef8","name":"Format OpenWeatherMap","func":"var newMsg = {\n    payload: {\n        temperature: msg.payload.main.temp,\n        humidity: msg.payload.main.humidity\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1370,"y":60,"wires":[["1039a101.fc221f","5b18d552.3a8f7c"]]},{"id":"1cb11146.22856f","type":"function","z":"70f7e65b.d84ef8","name":"Format Yahoo","func":"var newMsg = {\n    payload: {\n        temperature: msg.payload.query.results.channel.item.condition.temp,\n        humidity: msg.payload.query.results.channel.atmosphere.humidity\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1480,"y":180,"wires":[["1039a101.fc221f","5b18d552.3a8f7c"]]},{"id":"97690812.88bc78","type":"function","z":"70f7e65b.d84ef8","name":"Format OpenWeatherMap","func":"var newMsg = {\n    payload: {\n        temperature: msg.payload.currently.temperature,\n        humidity: msg.payload.currently.humidity*100\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1530,"y":320,"wires":[["1039a101.fc221f","5b18d552.3a8f7c"]]},{"id":"588c53a7.4f921c","type":"function","z":"70f7e65b.d84ef8","name":"chose gaz only","func":"if (msg.payload.gaz > 30) {   \n    node.send({      topic: \"Subject: System .... \", \n    payload: \"Danger !! votre maison est témoin d'une augmentation du niveau gaz :\" + msg.payload.gaz,})}\nreturn ;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["292fceae.970a92"]]},{"id":"292fceae.970a92","type":"e-mail","z":"70f7e65b.d84ef8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"mesaudaahmed@gmail.com","dname":"gaz alert","x":640,"y":60,"wires":[]},{"id":"81c1411f.d8ad7","type":"ui_gauge","z":"70f7e65b.d84ef8","name":"","group":"fcae7bae.7ee2a8","order":1,"width":0,"height":0,"gtype":"gage","title":"gaz","label":"","format":"{{msg.payload.gaz}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":260,"wires":[]},{"id":"cefba0cc.5bfab","type":"debug","z":"70f7e65b.d84ef8","name":"IR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":640,"wires":[]},{"id":"659b075f.b4acf8","type":"ui_text","z":"70f7e65b.d84ef8","group":"db8c3032.34e91","order":1,"width":6,"height":1,"name":"IR","label":"remote code","format":"{{msg.payload.code}}","layout":"col-center","x":830,"y":720,"wires":[]},{"id":"f70d96fd.b76b08","type":"OS","z":"4cded7c7.490bd8","name":"","x":304.50000762939453,"y":68.50000190734863,"wires":[["564fcf06.01d9c","aeaa7f17.ebc26","6f71a920.ae58d8","18cbbd3d.bf7aa3"]]},{"id":"6405d9d1.a48608","type":"inject","z":"4cded7c7.490bd8","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":115.25,"y":106.75000190734863,"wires":[["f70d96fd.b76b08","fa6dd92a.4b8d88"]]},{"id":"b0e66848.2bf778","type":"comment","z":"4cded7c7.490bd8","name":"OS","info":"","x":85.5,"y":62.75,"wires":[]},{"id":"564fcf06.01d9c","type":"function","z":"4cded7c7.490bd8","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":497.50000762939453,"y":41.25000190734863,"wires":[["74b21724.c2d428"]]},{"id":"74b21724.c2d428","type":"ui_text","z":"4cded7c7.490bd8","group":"7d0c1ef1.cc02e","order":4,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":680.0000076293945,"y":41.25000190734863,"wires":[]},{"id":"51d54ce6.ff35f4","type":"ui_text","z":"4cded7c7.490bd8","group":"7d0c1ef1.cc02e","order":3,"width":0,"height":0,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":665.0000076293945,"y":80.00000190734863,"wires":[]},{"id":"aeaa7f17.ebc26","type":"function","z":"4cded7c7.490bd8","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":500.00000762939453,"y":87.50000381469727,"wires":[["51d54ce6.ff35f4"]]},{"id":"6f71a920.ae58d8","type":"function","z":"4cded7c7.490bd8","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["68b9a4ec.10607c"]]},{"id":"18cbbd3d.bf7aa3","type":"function","z":"4cded7c7.490bd8","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":491.25000762939453,"y":178.75000381469727,"wires":[["458d466c.b941e8"]]},{"id":"68b9a4ec.10607c","type":"ui_text","z":"4cded7c7.490bd8","group":"7d0c1ef1.cc02e","order":1,"width":0,"height":0,"name":"platform","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":673.7500076293945,"y":121.25000381469727,"wires":[]},{"id":"458d466c.b941e8","type":"ui_text","z":"4cded7c7.490bd8","group":"7d0c1ef1.cc02e","order":2,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":666.2500076293945,"y":165.00000381469727,"wires":[]},{"id":"7b9334ad.d3ee0c","type":"function","z":"4cded7c7.490bd8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":496.25000381469727,"y":280.00000762939453,"wires":[["efce19a3.b11ac8"]]},{"id":"efce19a3.b11ac8","type":"ui_gauge","z":"4cded7c7.490bd8","name":"Memory Usage","group":"6c4e50bb.ccb4a","order":2,"width":0,"height":0,"gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":671.5000076293945,"y":276.50000762939453,"wires":[]},{"id":"9f55d616.720c38","type":"function","z":"4cded7c7.490bd8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":500.75000381469727,"y":320.50000858306885,"wires":[["df3159e2.3b1d28"]]},{"id":"b169bf84.3326f","type":"function","z":"4cded7c7.490bd8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["8aea4bc9.da4b18"]]},{"id":"df3159e2.3b1d28","type":"ui_text","z":"4cded7c7.490bd8","group":"6c4e50bb.ccb4a","order":3,"width":0,"height":0,"name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":673.0000076293945,"y":319.5000057220459,"wires":[]},{"id":"8aea4bc9.da4b18","type":"ui_text","z":"4cded7c7.490bd8","group":"6c4e50bb.ccb4a","order":4,"width":0,"height":0,"name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":658.2500076293945,"y":361.25000858306885,"wires":[]},{"id":"eb08357d.bb12f8","type":"function","z":"4cded7c7.490bd8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":498.25000762939453,"y":237.25000667572021,"wires":[["7808c034.5d13d"]]},{"id":"7808c034.5d13d","type":"ui_chart","z":"4cded7c7.490bd8","name":"Memory - 24 Hours","group":"6c4e50bb.ccb4a","order":1,"width":0,"height":0,"label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":682.5000076293945,"y":229.00000762939453,"wires":[[],[]]},{"id":"1747d309.7797dd","type":"comment","z":"4cded7c7.490bd8","name":"Memory Usage","info":"","x":303.75000762939453,"y":141.50000286102295,"wires":[]},{"id":"fa6dd92a.4b8d88","type":"Memory","z":"4cded7c7.490bd8","name":"","x":305.00000762939453,"y":193.7500057220459,"wires":[["eb08357d.bb12f8","7b9334ad.d3ee0c","9f55d616.720c38","b169bf84.3326f"]]},{"id":"2305f79d.3c1028","type":"comment","z":"4cded7c7.490bd8","name":"Arduino","info":"","x":90,"y":240,"wires":[]},{"id":"dc749eb1.c086d","type":"comment","z":"4cded7c7.490bd8","name":"mesaudaahmed@Igmail.com","info":"","x":315,"y":20,"wires":[]},{"id":"79b9779e.1688e8","type":"comment","z":"4cded7c7.490bd8","name":"Welcome !","info":"","x":807.5000152587891,"y":91.25000095367432,"wires":[]},{"id":"705d2e9.27674d","type":"inject","z":"4cded7c7.490bd8","name":"","topic":"","payload":"Thank you ! ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":840.0000152587891,"y":141.25000190734863,"wires":[["d38efd5a.913fe"]]},{"id":"d38efd5a.913fe","type":"debug","z":"4cded7c7.490bd8","name":"","active":true,"console":"false","complete":"false","x":982.5000152587891,"y":106.25000286102295,"wires":[]},{"id":"c49015b6.1d8048","type":"mqtt out","z":"4cded7c7.490bd8","name":"","topic":"inTopic","qos":"1","retain":"false","broker":"288d807a.b97e3","x":280,"y":300,"wires":[]},{"id":"ae2c7302.761d","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":1,"width":0,"height":0,"passthru":false,"label":"Light 1","tooltip":"","color":"","bgcolor":"","icon":"blur_on","payload":"0","payloadType":"str","topic":"","x":70,"y":300,"wires":[["c49015b6.1d8048"]]},{"id":"b00c41b5.b018a","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":8,"width":0,"height":0,"passthru":false,"label":"Light 4","tooltip":"","color":"","bgcolor":"","icon":"blur_off","payload":"7","payloadType":"str","topic":"","x":70,"y":600,"wires":[["c49015b6.1d8048"]]},{"id":"cd24a1a6.3c13b","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":7,"width":0,"height":0,"passthru":false,"label":"Light 4","tooltip":"","color":"","bgcolor":"","icon":"blur_on","payload":"6","payloadType":"str","topic":"","x":70,"y":560,"wires":[["c49015b6.1d8048"]]},{"id":"99a829c9.6846c8","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":6,"width":0,"height":0,"passthru":false,"label":"Light 3","tooltip":"","color":"","bgcolor":"","icon":"blur_off","payload":"5","payloadType":"str","topic":"","x":70,"y":520,"wires":[["c49015b6.1d8048"]]},{"id":"81f10fab.796a3","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":5,"width":0,"height":0,"passthru":false,"label":"light 3","tooltip":"","color":"","bgcolor":"","icon":"blur_on","payload":"4","payloadType":"str","topic":"","x":70,"y":480,"wires":[["c49015b6.1d8048"]]},{"id":"5b444a86.df7d84","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":4,"width":0,"height":0,"passthru":false,"label":"Light 2","tooltip":"","color":"","bgcolor":"","icon":"blur_off","payload":"3","payloadType":"str","topic":"","x":70,"y":420,"wires":[["c49015b6.1d8048"]]},{"id":"f473345d.97c538","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":2,"width":0,"height":0,"passthru":false,"label":"Light 1","tooltip":"","color":"","bgcolor":"","icon":"blur_off","payload":"1","payloadType":"str","topic":"","x":70,"y":340,"wires":[["c49015b6.1d8048"]]},{"id":"99b12c6d.7258f","type":"ui_button","z":"4cded7c7.490bd8","name":"","group":"b53f280a.7e8b28","order":3,"width":0,"height":0,"passthru":false,"label":"Light 2","tooltip":"","color":"","bgcolor":"","icon":"blur_on","payload":"2","payloadType":"str","topic":"","x":70,"y":380,"wires":[["c49015b6.1d8048"]]},{"id":"c0299447.461d68","type":"mqtt in","z":"70f7e65b.d84ef8","name":"Room1 Weather","topic":"dist/IR","qos":"0","datatype":"auto","broker":"288d807a.b97e3","x":500,"y":500,"wires":[["693d9680.ba1218"]]},{"id":"693d9680.ba1218","type":"json","z":"70f7e65b.d84ef8","name":"Format Weather","property":"payload","action":"obj","pretty":true,"x":640,"y":560,"wires":[["451cbfd5.37984"]]},{"id":"451cbfd5.37984","type":"ui_gauge","z":"70f7e65b.d84ef8","name":"","group":"fcae7bae.7ee2a8","order":1,"width":0,"height":0,"gtype":"gage","title":"object detected","label":"","format":"{{msg.payload.dist}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":500,"wires":[]},{"id":"c4d162d7.5ff5f","type":"function","z":"70f7e65b.d84ef8","name":"chose gaz only","func":"if (msg.payload.gaz > 30) {   \nnode.send({      topic: \"r1/r2\", \n    payload: \"1\"})\n\n}\nelse if (msg.payload.gaz < 30) {   \n    node.send({      topic: \"r1/r2\", \n    payload: \"0\"})\n}\n\nreturn ;","outputs":1,"noerr":0,"x":860,"y":600,"wires":[["efd9aec1.71b9"]]},{"id":"3248b883.e1a628","type":"mqtt out","z":"70f7e65b.d84ef8","name":"R1 Pub","topic":"r1/r1","qos":"2","retain":"true","broker":"f601e589.f08038","x":1180,"y":580,"wires":[]},{"id":"30d6ab54.900eb4","type":"function","z":"70f7e65b.d84ef8","name":"chose gaz only","func":"if (msg.payload.gaz > 30) {   \n    node.send({      topic: \"r1/r1\", \n    payload: \"0\"})\n}\nelse if (msg.payload.gaz < 30) {   \n    node.send({      topic: \"r1/r1\", \n    payload: \"1\"})\n}\n\nreturn ;","outputs":1,"noerr":0,"x":860,"y":560,"wires":[["3248b883.e1a628"]]},{"id":"9c18ae4b.86035","type":"function","z":"70f7e65b.d84ef8","name":"chose gaz only","func":"if (msg.payload.gaz > 30) {   \n    node.send({      topic: \"r1/r3\", \n    payload: \"0\"}) \n\n    \n}\nelse if (msg.payload.gaz < 30) {   \n    node.send({      topic: \"r1/r3\", \n    payload: \"1\"})  \n}\n\nreturn ;","outputs":1,"noerr":0,"x":860,"y":640,"wires":[["d0a68a09.7c84e8"]]},{"id":"ca42193c.4dd238","type":"debug","z":"70f7e65b.d84ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1640,"y":40,"wires":[]},{"id":"70971f7f.9a211","type":"inject","z":"70f7e65b.d84ef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":200,"wires":[["e63383b.4d5648"]]},{"id":"536d0852.cec918","type":"function","z":"4cded7c7.490bd8","name":"","func":"/*var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\nvar localISOTime = (new Date(Date.now()  + Math.abs(tzoffset))).toISOString();\nvar m = localISOTime.slice(11, 13);\nvar m1 = localISOTime.slice(14, 16);\n*/\nconst hours = new Date().getHours()\nconst isDayTime = hours > 6 && hours < 20\nconst isNightTime = hours < 6 && hours > 20\n\nif (msg.payload.dist === 1) {  \n    // is night time \n    node.send({      topic: \"inTopic\", \n    payload: \"4\"})\n}\nelse if (msg.payload.dist === 0) {  \n    //it's day time\n    node.send({      topic: \"inTopic\", \n    payload: \"5\"})\n}\n\nreturn ;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["7b256c1d.f54f74"]]},{"id":"bca042b7.e20c4","type":"inject","z":"4cded7c7.490bd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":600,"wires":[[]]},{"id":"7b256c1d.f54f74","type":"mqtt out","z":"4cded7c7.490bd8","name":"","topic":"inTopic","qos":"","retain":"","broker":"288d807a.b97e3","x":900,"y":540,"wires":[]},{"id":"2cd9fe02.cbab72","type":"mqtt in","z":"4cded7c7.490bd8","name":"","topic":"TCRT/IR","qos":"2","datatype":"auto","broker":"288d807a.b97e3","x":330,"y":520,"wires":[["69f283bc.d6f1dc"]]},{"id":"89279fca.9b055","type":"debug","z":"4cded7c7.490bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.dist","targetType":"msg","x":690,"y":440,"wires":[]},{"id":"69f283bc.d6f1dc","type":"json","z":"4cded7c7.490bd8","name":"Format Weather","property":"payload","action":"obj","pretty":true,"x":500,"y":560,"wires":[["536d0852.cec918","89279fca.9b055"]]}]
